@media screen and (max-width:600px)  {
    .container-card-promotion-offer{
        width: 100%;
        display: flex;
        gap: 20px;
        padding: 0 15px;
        box-sizing: border-box;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
    .only-card-offer{
        width: 25%;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100%;
        scroll-snap-align: start;
    }
    .only-card-in-the-spotlight {
        flex-basis: 100%;
    }
    .only-card-news {
        flex-basis: 100%;
    }

    .similar-offer main{
        flex-wrap: wrap;
    }
    /* Panier */
    .contain-bask{
        flex-direction: column;
        align-items: center;
    }

    .container-img-desc img {
        width: 40%;
    }

    .container-card{
        width: 100%;
        padding-left: 4%  ;
    }

    .container-total-product-basket{
        display: none;
    }

    .basket-command:last-child{
        display: block;
    }

    .basket-command-d{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 7%;
        gap: 35px;
        
    }
    
    .Total-command-d {
        display: flex;
        width: 100%;
        justify-content: space-around;
        font-size: 32px;
        color: white;
    }
    .Total-command-d li{
        list-style-type: none;
    }

    .basket-command-d button{
        background-color: rgba(224, 43, 26, 0.83);
        width: 100%;
        color: white;
        font-size: 30px;
        border-radius: 18px;
        border: 1px solid  rgba(224, 43, 26, 0.83);
        height: 60px;
    }

    .container-card h1 {
        font-size: 37px;
        text-align: center;
    }

    /* details product */
    .container-details{
        flex-direction: column;
        padding-left: 1%;
    }

    .text-container-p-d{
    text-align: center;
    align-items: center;
    }

    .text-container-p-d p {
        width: 100%;
    }

    .button-details-product{
        flex-direction: column;
        gap: 10px;
    }

    .button-details-product button{
        width: 100%;
    }
}