/**********************PANIER**********************/
.panier{
    margin: 4% 0% 4% 4%;
    color: white;
}
p{
    color: white;
}
.imgPoele{
    width: 25%;
    margin-left: 20px;
    margin-right: 20px; 
    border-radius: 10px;
}
.poele{
    display: flex;
}
.iconsCard{
    display: flex;
    justify-content: space-between;
}
.minibox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}
.produits{
    white-space: pre-wrap;
}
.container{
    display: flex;
}
/***************FOOTER********************/
.boxtotal{
    display: flex;
}
.foot{
    display: flex;
    gap: 17px;
}
.boxfooter{
    display: flex;
    justify-content: space-around;
    height: 90%;
}
.Contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.decouverte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.rejoignez{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
footer{
    background: #121212;
    height: 400px;
}
h2{
    color: white;
}
h3{
    color: white;
}