*{
    margin: 0;
    padding: 0;
}
body{
    background: #1E1E1E;
}
/*********************HEADER***********************/
a{
    text-decoration: none;
}
header {
    padding-bottom: 40px;
}
#burger{
    display: none;
}
.imgburger{
    width: 40px;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(179.16deg, #E02B1A 16.46%, #1E1E1E 461%);
    height: 137px;
} 
.navli{
display: flex;
justify-content: space-evenly;
align-items: center;
list-style: none;
color: white;
}

.navli li {
    font-size: 23px;
}
.navul{
    width: 55%;
}
.titre{
    width: 30%;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
}
.iconsHeader {
    display: flex;
    gap: 30px;
    align-items: center;
}

.titre {
    width: 30%;
    color: white;
}
/************************FOOTER****************************/
.boxtotal{
    display: flex;
}
.foot{
    display: flex;
    gap: 17px;
    align-items: center;
}
/* GENERAL */
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Scroll bar custom */
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}
.boxfooter{
    display: flex;
    justify-content: space-around;
    height: 90%;
}
.Contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.decouverte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.rejoignez{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
footer{
    background: #121212;
    height: 400px;
}
h2{
    color: white;
}
h3{
    color: white;
}
footer p{
    color: gray;
}
                        /*********responsive*************/
@media screen and (max-width :820px) {  
    
    .navli{
        display: none;
    }

    #burger{
        flex-direction: column;
        align-items: center;
        background: red;
        position: absolute;
        justify-content: center;
        width: 100%;
    }
    footer{
       height: 80vh; 
    }
    .boxfooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .Contact{
        align-items: center;
    }
    .apple{
        display: flex;
        flex-direction: column;
    }
}

::-webkit-scrollbar {
    height: 9px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(224, 43, 26, 0.83) ;
    border-radius: 3px;
}


/********************************************************SECTION CARD-HOME **************************************************************/
/* Part of Promote */
#card-home {
    width: 100%;
    background-color: black;
    padding: 0 15px;
}
#card-home h2{
    color: white;
    padding: 0 15px; 
}
.container-card-promotion-offer {
    width: 100%;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
}

.only-card-offer {
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.only-card-offer img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
 
}

.text-offer-button {
    color: white;
    text-align: center;
    background-color: #595959;
    margin: 0;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
}
.text-offer-button h3 {
    margin: 0;
    font-size: 25px ;
}

.button-promot-offer {
    width: 100%;
}
.button-promot-offer button {
    background-color: rgba(224, 43, 26, 0.83);
    width: 47%;
    color: white;
    font-size: 25px;
    border-radius: 4px;
    border: 1px solid  rgba(224, 43, 26, 0.83);
}

/* Part of Spotlight */

.container-card-in-the-spotlight {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 0 15px;
    box-sizing: border-box;
    overflow-x: scroll;
    scroll-snap-type: x mandatory


}

.only-card-in-the-spotlight {
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    scroll-snap-align: start;
}
.only-card-in-the-spotlight img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.text-spotlight-button {
    color: white;
    text-align: center;
    background-color: #595959;
    margin: 0;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
}
.text-spotlight-button h3{
    margin: 0;
    font-size: 16px ;
    width: 100%;
}


.button-spotlight {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.button-spotlight p{
    font-size: 20px;
}
.button-spotlight button {
    background-color: rgba(224, 43, 26, 0.83);
    width: 47%;
    color: white;
    font-size: 19px;
    border-radius: 4px;
    border: 1px solid  rgba(224, 43, 26, 0.83);
    height: 60%;
}

