*{
    margin: 0;
    padding: 0;
}
body{
    background: #1E1E1E;
}
/*********************HEADER***********************/
header {
    padding-bottom: 40px;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(179.16deg, #E02B1A 16.46%, #1E1E1E 461%);
    height: 137px;
}
.navli{
display: flex;
justify-content: space-evenly;
align-items: center;
list-style: none;
color: white;
}

.navli li {
    font-size: 23px;
}
.navul{
    width: 55%;
}
.titre{
    width: 30%;
    color: white;
}
.iconsHeader {
    width: 10%;
    display: flex;
    gap: 30px;
}

.titre {
    width: 30%;
    color: white;
}
/************************FOOTER****************************/
.boxtotal{
    display: flex;
}
.foot{
    display: flex;
    gap: 17px;
}
.boxfooter{
    display: flex;
    justify-content: space-around;
    height: 90%;
}
.Contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.decouverte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.rejoignez{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
footer{
    background: #121212;
    height: 400px;
}
h2{
    color: white;
}
h3{
    color: white;
}