@media screen and (min-width:600px) and (max-width:1024px) {
    /* PROMOTE PART */
    .text-offer-button h3 {
        font-size: 15px;
    }
    .container-card-promotion-offer {
        gap: 7px;
    }
    .button-promot-offer button {
        width: 95%;
    }


    /* SPOTLIGHT PART */

    .button-spotlight button {
        width: 65%;
        font-size: 14px;
    }

    /* news */
    .button-news button {
        width: 65%;
        font-size: 14px;
}
/* Details product */

    .button-details-product button {
        width: 35%;
        height: 45px;
        font-size: 65%; 
    }
    .button-details-product {
        justify-content: flex-start;
        gap: 10%;
    }

    .similar-offer main{
        flex-wrap: wrap;
    }

    .text-container-p-d p{
        font-size: 60%;
    }
    .text-container-p-d h2{
        font-size: 100%;
    }

    .text-container-p-d {
        gap: 0;
    }

    .only-card-news{
        flex-basis: 48%;
    }



/* Panier */
    .contain-bask{
        flex-direction: column;
        align-items: center;
    }
    .container-img-desc img {
        width: 40%;
    }

    .container-card{
        width: 100%;
    }

    .container-total-product-basket{
        display: none;
    }

    .basket-command:last-child{
        display: block;
    }

    .basket-command-d{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 7%;
        gap: 35px;
        
    }

    
    .Total-command-d {
        display: flex;
        width: 100%;
        justify-content: space-around;
        font-size: 32px;
        color: white;
    }
    .Total-command-d li{
        list-style-type: none;
    }

    .basket-command-d button{
        background-color: rgba(224, 43, 26, 0.83);
        width: 100%;
        color: white;
        font-size: 30px;
        border-radius: 18px;
        border: 1px solid  rgba(224, 43, 26, 0.83);
        height: 60px;
    }
}